<table class="w-full">
  <tr>
    <td class="w-[600px] sm:w-full bg-[#F0F5F5] max-w-[600px] p-[20px] sm:p-[0px] pt-[5px]">
      <table>
        <tr>
          <td class="w-[560px]">
            <p class="text-[#005555] text-[24px] leading-[28px] px-[30px] font-['Arial'] p-[20px] pt-[10px] pb-[15px] font-[700] text-center">
              Sint cupidatat occaecat ut
            </p>
          </td>
        </tr>
        <tr>
          <td class="w-[560px] justify-items-center sm:w-[375px] ">
            <table class="w-[560px] sm:w-[375px] justify-items-center">
              <tr>
                <td class="w-[270px] sm:w-[375px] inline-block font-normal text-left bg-white p-[25px] justify-items-center ">
                  <table>
                    <tr>
                      <td class="w-[270px] sm:w-[375px] justify-items-center">
                        <table class="w-[100px]">
                          <tr>
                            <td class="w-[100px] justify-items-center">
                              <img src="image-5.jpg" src-production="images/image-5.jpg" alt="logo" class="rounded-full w-[100px] h-[100px] justify-items-center">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-[270px] sm:w-[375px]">
                        <p class="text-[#005555] text-[20px] leading-[23px] p-[25px] font-['Arial'] pt-[10px] pb-[5px] font-[700] text-center">
                          Nisi ut ade
                        </p>
                        <p class="text-[#444444] text-[16px] leading-[19px] p-[0px] font-['Arial'] pt-[5px] pb-[0px] font-[400] text-center">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>¹</sup>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="w-[20px] sm:w-[375px] inline-block font-normal text-left">&nbsp;</td >

                  <td class="w-[270px] sm:w-[375px] inline-block font-normal text-left bg-white p-[25px] justify-items-center ">
                    <table>
                      <tr>
                        <td class="w-[270px] sm:w-[375px] justify-items-center">
                          <table class="w-[100px]">
                            <tr>
                              <td class="w-[100px] justify-items-center">
                                <img src="image-5.jpg" src-production="images/image-5.jpg" alt="logo" class="rounded-full w-[100px] h-[100px] justify-items-center">
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="w-[270px] sm:w-[375px]">
                          <p class="text-[#005555] text-[20px] leading-[23px] p-[25px] font-['Arial'] pt-[10px] pb-[5px] font-[700] text-center">
                            Duis aute irure
                          </p>
                          <p class="text-[#444444] text-[16px] leading-[19px] p-[0px] font-['Arial'] pt-[5px] pb-[0px] font-[400] text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>²</sup>
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
              </tr>
            </table>
          </td>
        </tr>
       
      </table>
    </td>
  </tr>
</table>
