<table class="w-full">
  <tr>
    <td class="w-[600px] sm:w-full bg-white max-w-[600px] p-[20px] sm:p-[0px] pt-[5px] justify-items-center">
      <table>
        <tr>
          <td class="w-[560px] sm:w-[375px]">
            <p class="text-[#000000] text-[12px] leading-[15px] font-['Arial'] pt-[10px] pb-[15px] font-[700] text-left">
              Ut enim ad minim:
            </p>
            <p class="text-[#000000] text-[12px] leading-[15px] font-['Arial'] pt-[0px] pb-[15px] font-[400] text-left">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <p class="text-[#000000] text-[12px] leading-[15px] font-['Arial'] pt-[0px] pb-[15px] font-[400] text-left">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            </p>
            <p class="text-[#000000] text-[12px] leading-[15px] font-['Arial'] pt-[5px] pb-[15px] font-[700] text-left">
              Sint occaecat cupidatat: 
            </p>
          </td>
        </tr>
        <tr>
          <td class="w-[560px] sm:w-[375px]">
            <table>
              <tr>
                <td class="w-[15px] text-[#000000] text-[12px] leading-[15px] font-['Arial'] text-left align-top">
                  1.
                </td>
                <td class="text-[#000000] text-[12px] leading-[15px] font-['Arial'] text-left">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-[560px] sm:w-[375px] pt-[2px] pb-[5px]">
            <table>
              <tr>
                <td class="w-[15px] text-[#000000] text-[12px] leading-[15px] font-['Arial'] text-left align-top">
                  2.
                </td>
                <td class="text-[#000000] text-[12px] leading-[15px] font-['Arial'] text-left">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-[560px] sm:w-[375px] inline-block font-normal text-left bg-[#000000] h-[1px] leading-[1px] text-[1px]">&nbsp;</td >
        </tr>
        <tr>
          <td class="w-[560px] sm:w-[375px] pt-[12px] sm:pb-[15px]">
            <table>
              <tr>
                <td class="w-[560px] sm:w-[375px] text-[#000000] text-[12px] leading-[15px] font-['Arial'] text-center align-top">
                  Sed do eiusmod tempor incididunt ut labore
                </td>
              </tr>
              <tr>
                <td class="w-[560px] sm:w-[375px] justify-items-center">
                  <table class="w-[100px]">
                    <tr>
                      <td class="w-[100px] justify-items-center">
                        <img src="image-2.png" src-production="images/image-2.png" alt="logo" class="w-100px pt-[15px]">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
